contourpy
cycler
fonttools
Flask
joblib
kiwisolver
matplotlib
mecab-python3
numpy
packaging
pandas
pillow
pip
pyparsing
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
threadpoolctl
tzdata
wheel
